#bodyContainer {
    border: black 2px dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}

#imageContainer {
    border: black 2px dotted;
    width: 50%;
    padding: 20px;
    position:relative;
}

.slide img {
    border: black 2px dotted;
    width: 100%;
    object-fit: contain;
}

#prevImg, #nextImg {
    position:absolute;
    top:40%;
    font-size:35px;
    cursor:pointer;
}

#prevImg {
    left: 30px;
}

#nextImg {
    right: 30px;
}